<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <!--日志地址-->
  <add key="LogPath" value="log/"/>
  <!--订单日志地址-->
  <add key="LogOrderPath" value="log/order/"/>
  <!--订单交易异常日志地址-->
  <add key="LogAlipayErrorLogPath" value="AliPayError.log"/>

  <add key="base_publicKey" value=""/>
  <add key="entoken_publicKey" value=""/>
  <add key="alipay_publickey"  value=""/>
  <add key="client_token_publickey"  value=""/>

  <!--订单消息队列地址-->
  <add  key="QueueOrderPath" value=".\Private$\PSOrders"/>

 
  <add key="PayDomain" value=""/>
</appSettings>

