<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <!--日志地址-->
  <add key="LogPath" value="log/"/>
  <!--订单日志地址-->
  <add key="LogOrderPath" value="log/order/"/>
  <!--订单交易异常日志地址-->
  <add key="LogAlipayErrorLogPath" value="AliPayError.log"/>

  <add key="base_publicKey" value="5fhG1LvT0c"/>
  <add key="entoken_publicKey" value="5fhG1LvT0c"/>
  <add key="alipay_publickey"  value="5fhG1LvT0c"/>
  <add key="client_token_publickey"  value="5fhG1LvT0c"/>

  <!--订单消息队列地址-->
  <add  key="QueueOrderPath" value=".\Private$\PSOrders"/>

  <!--T3.3支付地址配置 http://wcfservice.sucool.com 线上 http://projection.sucool.com测试-->
  <!--警告：测试支付地址严禁签入！！-->
  <add key="PayDomain" value="http://wcfservice.sucool.com"/>
</appSettings>

