<?xml version="1.0" encoding="utf-8"?>

<Identity>
  <timeexpire>600</timeexpire>
  <client>
    <web>
      <key></key>
    </web>
    <ios>
      <key></key>
    </ios>
    <android>
      <key></key>
    </android>
    <touch>
      <key></key>
    </touch>
  </client>
</Identity>
