<?xml version="1.0" encoding="utf-8"?>

<Identity>
  <timeexpire>600</timeexpire>
  <client>
    <web>
      <key>7DaEvpzZxw48Wtf3rS/B21UBZnUcCcRu</key>
    </web>
    <ios>
      <key>4IJ+J5WZsMVtU5v4RzvqotHA5hj3fV4U</key>
    </ios>
    <android>
      <key>Ct+D3dw68BUAJVL0X6qP1blPR+eq87oH</key>
    </android>
    <touch>
      <key>EYLwo1Z8qec2hXUw7GETr4d8SiuYj4C0</key>
    </touch>
  </client>
</Identity>
